.map-container {
  background-color: #333333;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.map-title {
  color: #e2e2e2;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.map {
  height: 400px;
  width: 100%;
  border: 5px solid #020202;
  border-radius: 15px;
  box-shadow: 0 0 30px #000;
  color: #0e0e0e;
}
.place-photo{
  padding: 0;
  margin: 0;
}
